
PASSWORD=dq20=dq]efq(/.wf<.e2



# remote

ENDPOINT=138.68.59.148
SSL_PORT_R=30000
KCP_PORT_R=31000



# client

SSL_PORT_C=60000
KCP_PORT_C=61000



# shadow-socks-libev

SSL_METHOD=chacha20



# kcp-tun

KCP_CRYPT=salsa20
KCP_MODE=fast
KCP_RCV=1500
KCP_SND=1500

