
PASSWORD=dq20q]efq(/.wf<.e2



# remote

ENDPOINT=1.2.3.4

SSL_PORT_R=30000
KCP_PORT_R=31000



# client

SSL_PORT_C=60000
KCP_PORT_C=61000



# shadow-socks-libev

SSL_IMAGE=shadowsocks/shadowsocks-libev:v3.2.3

SSL_METHOD=chacha20



# kcp-tun

KCP_IMAGE=xtaci/kcptun:v20181230

KCP_CRYPT=salsa20
KCP_MODE=fast2
KCP_RCV=512
KCP_SND=512

